<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 Web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=123.56.122.122\SQLExpress,3433;Initial Catalog=PushServer;Persist Security Info=True;User ID=sa;Password=pwd123456"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
           />
  </connectionStrings>
  <appSettings>
    <add key="top_appkey" value="23140690" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="top_appsecret" value="a84b819688969ee00b5ae44a19b3f1f0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>"
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      在以下示例中，"Replace" 转换将替换 Web.config 文件的
      整个 <customErrors> 节。
      请注意，由于在 <system.web> 节点下只有一个
       customErrors 节，因此无需使用 "xdt:Locator" 属性。

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
